/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
html, body { height: 100%; }

body { margin: 0; font-family: Montserrat; background-color: #282A3E; background-image: url( './assets/img/telarana.svg' );background-repeat: no-repeat;
    background-size: cover;}
